.accordian {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid rgb(93, 86, 86);
  cursor: pointer;
  box-shadow: 2px 1px 2px 1px;
}

.animate:hover {
  transform: translateY(-3px);
}

.flex {
  display: flex;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 1rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
